.search {
    background-color: grey;
    border: 1px solid black;
    width: 50px;
    display: block;
}
/* .InputBox {
    border: 1px solid grey;
   width: 30%;
}
.InputBox input {
    border: none;
    padding: 10px;
} */

.avatar {
    position: absolute;
    display: block;
    top: 12px;
    left: 40px;
    width: 30px;
    height: 30px;
    background: url('https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-9.jpg') center center/contain no-repeat;
}

.tableItems{
     margin-left: 100px;
}